
body {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
  }
  .dropbtn {
    font-size: 16px;
    border: none;
  }
  .inactive#drop
  {
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .topnav {
    padding-top: 10px;
    background-color: #1c1c1d;
    overflow: hidden;
    top: 0%;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
  } 
  .topnav a 
  {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 32px;
  }
  .topnav button
  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
  text-decoration: none;
  font-size: 32px;
  }
  
  .inactive#connect-logo 
  {
    font-size: 32px;
    font-weight: bold;
    
  }
  .inactive#connect-logo: :hover
  {
    background-color: #2e2e30;
    color: rgb(116, 116, 116);
    opacity: 1;
  }
  .topnav#small-a
  {
    font-size: 32px;
    float: left;
    max-height: 200%;
    max-width: 200%;
    min-width: 150%;
    min-height: 150%;
    text-align: center;
  }
  .inactive#cart
  {
    margin-left: 1620px;
    margin-right: 15px;
  }
  .content {
      padding: 18.75em;
      text-align: center;
      float: center;
  }
  .content h1
  {
    font-size: 6em;
  }
  .textbox 
  {
    font-size: 26px;
  }
  
 .content button {
    background-color: #9b9b9b;
    border: none;
    color: white;
    padding: 2em 8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25em 0.125em;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 0.76em;
    }
  
  
  
  .button:hover {
    background-color: #2e2e30;
    color: rgb(116, 116, 116);
    opacity: 1;
  }

  .learn-more-link
  {
    text-decoration: none;
    color: whitesmoke
  }

  .mode
  {
      background-color: slategray;
  }
  .mode2
  {
      text-align: center;
  }
  .footer
  {
      padding: 1.875em;
      background-color: rgb(28, 28, 29);
  }
  .contact
  {
    color: whitesmoke;
    text-align: left;
    text-decoration: none;
  }
  ul#contact
  {
    font-size: 19px;
    list-style-type: none;
  }
  
  .footerlink
  {
    color: gray;
    text-decoration: none;
    padd
  }

  .footerlink:hover
  {
    color: white;
    opacity: 1;
    font-size:  19px;
    transition: 0.05s; 
    cursor: pointer;
    opacity: 0.6;
  }
  .about
  {
    padding: 18em;
  }
  .about p
  {
    font-size: 25px;
    text-align: center;
  }
  .about h3 
  {
    text-align: center;
    font-size: 32px;
}
.N button
{
  background-color: #9b9b9b;
    border: none;
    color: white;
    padding: 2em 8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25em 0.125em;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 0.76em;
}
.text-container button
{
  background-color: #9b9b9b;
    border: none;
    color: white;
    padding: 2em 8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25em 0.125em;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: 500px;
}
.text-container button:hover
{
  background-color: #2e2e30;
    color: rgb(116, 116, 116);
    opacity: 1;
}
.antibcc 
{
  font-size: 12px;
  color: dimgray;
}
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
  
  
